
body {
  background-color:white;
  margin:0;
  padding:0;
  color:#333;
  font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
}
a {
  text-decoration:none;
  transition:all 400ms ease-in-out;
}
/* ==== Related Post Widget Start ==== */

related-post {
  margin:0 auto;
  height:2600px;
  overflow:hidden;
}
.related-post h4 {
  font-size:20px;
  margin:0 5px 10px;
  font-weight:500;
}
/* Style 2 */
.related-post-style-2 {
  margin:0;
  padding:0;
  list-style:none;
}
.related-post-style-2 li {
  background-color: #fff;
   display: block;
   padding:0;
    float: none;
    overflow: hidden;
    margin:0 0 8px;
	list-style:none;
}
.related-post-style-2 li:hover .related-post-item-thumbnail{
    opacity:.5;
}
.related-post-style-2 li a:hover {color:#777}
.related-post-style-2 .related-post-item-thumbnail {
  width:200px;
  height:150px;
  max-width:none;
  max-height:none;
  background-color:transparent;
  border:none;
  padding:0;
  float:left;
  margin:0 8px 0 0;
  transition:all 400ms ease-in-out;
}
.related-post-style-2 .related-post-item-title {
    display: block;
    display: -webkit-box;
	margin-top:-2px;
	margin-bottom:5px;
  font-family: Roboto, sans-serif;
font-size: 22px;
letter-spacing: -0.6px;
word-spacing: 0px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;

}
.related-post-style-2 .related-post-item-more,.related-post-style-2 .related-post-item-summary,.related-post-style-2 .related-post-item-more,.related-post-style-2 .related-post-item-summary a{
  display:none;
}
@media screen and (max-width:600px){.related-post-style-2 .related-post-item-summary {display:none;}
}
